---
title: IaaS permissions guidelines
owner: Program Management
---

<%= vars.company_name %> recommends that you follow these practices for creating secure IaaS user
roles before installing <%= vars.ops_manager_first %>.

The connection between <%= vars.ops_manager %> and IaaS providers requires IaaS accounts with appropriate permissions.
These accounts act on behalf of the operator to access IaaS functionality,
such as creating VMs, managing networks and storage, and other related services.

<%= vars.ops_manager %> and <%= vars.app_runtime_first %> can be configured with IaaS users in different ways, depending on your IaaS. Other product tiles and services might also use their own IaaS credentials. Refer to the documentation for those product tiles or services to configure them securely.

## <a id='lpus'></a> Least Privileged Users (LPUs)

<%= vars.company_name %> recommends following the principle of least privilege by scoping privileges to the most restrictive permissions possible for a given role.
In the event that someone gains access to credentials by mistake or through malicious intent, LPUs limit the scope of the breach.
<%= vars.company_name %> recommends following best practices for the particular IaaS you are deploying.

## <a id='iaas-specific'></a> IaaS-specific guidelines

| IaaS      | Guidelines |
| --------- | ---------- |
| AWS       | [AWS permissions guidelines](aws-iaas-user-roles.html) |
| Azure     | [Preparing to deploy <%= vars.ops_manager %> on Azure](../azure/prepare-env-manual.html). Use the minimum permissions necessary when creating your service principal. |
| GCP       | Use one account with the minimum permissions required to create desired GCP resources in your GCP project, then create a separate service account with the minimum permissions required to deploy <%= vars.app_runtime_abbr %> and other tiles. For more information about creating the service account, see [Step 1: Set up IAM Service Accounts](../gcp/prepare-env-manual.html#iam_account) in _Preparing to Deploy <%= vars.ops_manager %> on GCP_. |
| OpenStack | Use the principle of [Least Privileged Users](#least-privileged-users-lpus)    |
| vSphere   | See [Installing <%= vars.ops_manager %> on vSphere](vsphere.html#permissions). |
